@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

body{
  margin: 0px;
}

.artist-body{
  background-image: url("../images/backcolor.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.colorChoice{
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 32%;
  font-family: 'Noto Sans JP', sans-serif;
}

.hidden{
  display: none;
}

.aaa{
  position: absolute;
  top: 40%;
  left: 9%;
}

body{
  margin: 0;
  padding: 0;
  /* margin-top: -16px; */
}

.user-back{
  background-image: url("../images/user-back.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -16px;
}

.stick-style{
  position: absolute;
  top: 75%;
  left: 40%;
  right: 0;
  margin: auto;
}

.stick-style2{
  position: absolute;
  font-weight: bold;
  text-align: center;
  top: 90%;
  left: 0;
  right: 0;
  margin: auto;
}

.stick-style3{
  position: absolute;
  font-weight: bold;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
}

.hidden{
  display: none;
}