body{
  margin: 0;
  padding: 0;
}

.center{
  text-align: center;
  margin-top: 0px;
}

 .cheer-style{
  /* background-color: red; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


.aaa{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 40px;
  color:#F6CEE3;
}
